<div class="container-fluid" style="margin-bottom:0;height : 150px;background : #7FFF00; " id='heading'>
  <div class="row" style="height : 150px;padding-left : 2%;padding-right : 2%">
    <div style="margin-top : auto ;margin-bottom : auto; text-align : center;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTk_ttdDqclrIguV2jKxVVYVzM0JrC8KOPzxdcjCzw4Tkgakal6UQ&s" style="height:100px;border-radius:50%;">
    </div>
    <div class="col" style="margin-top : auto; margin-bottom : auto">
      <h1>ADMIN</h1>
    </div>
    <div style="margin-top : auto; margin-bottom : auto;">
      <button class="btn" style="float : right" onclick="logout()">Logout</button>
    </div>
  </div>
  <script>
  	function logout(){
  		var protocol = window.location.protocol;
  		var host = window.location.host;
		var url = protocol+"//"+host+"/admin/logout"
  		window.location = url;
  	}
  </script>
</div>
